*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  position: relative;
  height: 100vh;
  background-color: darkslategrey;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem black;
}

.header {
  margin: 2rem auto;
  right: 50%;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 5rem 3rem;
}

input {
  margin: 0.25rem 0 1rem;
}

button {
  color: darkslategrey;
  align-self: center;
  width: 60%;
  padding: 0.5rem 0;
  margin-top: 0.5rem;
  border: 2px darkslategrey solid;
  border-radius: 0.25rem;
  background-color: white;
}

button:hover {
  box-shadow: 0 0 0.25rem rgba(47, 79, 79, 0.507);
}

button:active {
  box-shadow: inset 0 0 0.25rem rgba(47, 79, 79, 0.507);
}

input {
  border: none;
  border-radius: 0.25rem;
  background-color: rgb(236, 236, 236);
  height: 2rem;
}
